## 篩選資料

雖然上述的方法可以快速地幫我們挑選資料，但更多時候我們想要篩選的是符合特定規則的資料，例如在成績紀錄內只篩選出期中考不及格的同學們。遇到這種狀況的時候我們可以使用和numpy很類似的用法。

In [1]:
import pandas as pd
import numpy as np

In [2]:
# set seed
np.random.seed(111)
# Function to generate test data
def CreateDataSet(Number=1):
    Output = []
    for i in range(Number):
        # Create a weekly (mondays) date range
        rng = pd.date_range(start='1/1/2009', end='12/31/2012', freq='W-MON') #random number generator
        
        # Create random data
        data = np.random.randint(low=25, high=1000, size=len(rng))
        
        # Status pool
        status = [1,2,3]
        
        # Make a random list of statuses
        random_status = [status[np.random.randint(low=0, high=len(status))] for i in range(len(rng))]
        
        # State pool
        states = ['GA','FL','fl','NY','NJ','TX']
        
        # Make a random list of states 
        random_states = [states[np.random.randint(low=0, high=len(states))] for i in range(len(rng))]
    
        Output.extend(zip(random_states, random_status, data, rng))
        #extend& append 差異
        
    return Output

In [3]:
# 產生範例的資料集
dataset = CreateDataSet(4)
df = pd.DataFrame(data=dataset,
                  columns=['State', 'Status', 'CustomerCount', 'StatusDate'])

In [4]:
# 設定篩選的條件，在此判斷是否State欄位的數值為FL
condition = (df.State == 'FL')

# 印出篩選條件看看，會發現這是一連串布林值
print(condition.head())

0    False
1     True
2    False
3     True
4    False
Name: State, dtype: bool

In [5]:
# 將condition放入loc中篩選判斷值為True的資料，且只呈現前十筆
df.loc[condition].head(n=10)

   State  Status  CustomerCount StatusDate
1     FL       1            901 2009-01-12
3     FL       3            111 2009-01-26
5     FL       2            706 2009-02-09
8     FL       3            833 2009-03-02
22    FL       2            737 2009-06-08
28    FL       1            710 2009-07-20
35    FL       3            587 2009-09-07
42    FL       3            930 2009-10-26
43    FL       3            195 2009-11-02
49    FL       3            510 2009-12-14

In [6]:
df.loc[(df.State == 'FL') & (df['Status'] == 3)].head(n=10)

    State  Status  CustomerCount StatusDate
3      FL       3            111 2009-01-26
8      FL       3            833 2009-03-02
35     FL       3            587 2009-09-07
42     FL       3            930 2009-10-26
43     FL       3            195 2009-11-02
49     FL       3            510 2009-12-14
150    FL       3            847 2011-11-21
160    FL       3            883 2012-01-30
166    FL       3            109 2012-03-12
204    FL       3            222 2012-12-03

In [7]:
df.loc[df.Status.isin([1, 2])].head(n=10)

   State  Status  CustomerCount StatusDate
0     GA       1            877 2009-01-05
1     FL       1            901 2009-01-12
4     GA       1            300 2009-02-02
5     FL       2            706 2009-02-09
7     fl       2            143 2009-02-23
9     NY       1            992 2009-03-09
10    fl       2            978 2009-03-16
11    TX       2             32 2009-03-23
12    GA       2            293 2009-03-30
13    fl       1            291 2009-04-06

In [8]:
# 設定篩選的條件，在此判斷是否State欄位的數值為FL
condition = (df.State == 'FL')

# 印出篩選條件看看，會發現這是一連串布林值
print(condition.head())

# 將condition放入loc中篩選判斷值為True的資料，且只呈現前十筆
df.loc[condition].head(n=10)

# 我們也可以做比較複雜的條件判斷並一次將篩選條件寫在內
# 同時挑選State為FL且Status為3的資料，並只呈現前十筆
df.loc[(df.State == 'FL') & (df['Status'] == 3)].head(n=10)

# 如果需要在某個欄位內挑選符合多個可能性的數值，可以使用.isin()這個方法
# 挑選Status為1或2的資料，並只呈現前十筆
df.loc[df.Status.isin([1, 2])].head(n=10)

0    False
1     True
2    False
3     True
4    False
Name: State, dtype: bool

   State  Status  CustomerCount StatusDate
0     GA       1            877 2009-01-05
1     FL       1            901 2009-01-12
4     GA       1            300 2009-02-02
5     FL       2            706 2009-02-09
7     fl       2            143 2009-02-23
9     NY       1            992 2009-03-09
10    fl       2            978 2009-03-16
11    TX       2             32 2009-03-23
12    GA       2            293 2009-03-30
13    fl       1            291 2009-04-06

## 對欄位進行排序

在Excel中大家最常用到的功能之一就是排序了，在pandas中我們也可以輕易地做到這件事情。

In [9]:
df.sort_values(by='CustomerCount').head(10)

    State  Status  CustomerCount StatusDate
815    NJ       3             26 2012-08-13
539    NY       1             27 2011-05-02
259    NY       2             28 2009-12-21
600    TX       2             29 2012-07-02
488    FL       1             30 2010-05-10
271    FL       1             32 2010-03-15
11     TX       2             32 2009-03-23
148    fl       1             33 2011-11-07
221    NY       2             35 2009-03-30
461    fl       1             36 2009-11-02

In [10]:
df.sort_values('Status', ascending=False)

    State  Status  CustomerCount StatusDate
418    FL       3            638 2009-01-05
252    NJ       3            752 2009-11-02
588    NY       3            725 2012-04-09
261    NY       3            277 2010-01-04
260    FL       3            788 2009-12-28
..    ...     ...            ...        ...
251    GA       1            844 2009-10-26
591    fl       1            623 2012-04-30
256    GA       1            458 2009-11-30
262    fl       1            419 2010-01-11
0      GA       1            877 2009-01-05

[836 rows x 4 columns]

In [11]:
df.sort_values(by=['State', 'CustomerCount']).head(10)

    State  Status  CustomerCount StatusDate
488    FL       1             30 2010-05-10
271    FL       1             32 2010-03-15
332    FL       1             45 2011-05-16
818    FL       3             46 2012-09-03
587    FL       3             47 2012-04-02
467    FL       2             48 2009-12-14
727    FL       2             51 2010-12-06
730    FL       3             51 2010-12-27
278    FL       3             53 2010-05-03
494    FL       3             59 2010-06-21

In [12]:
# 以CustomerCount欄位的數值做排序，並呈現前10筆資料。預設會由小到大做排序
df.sort_values(by='CustomerCount').head(10)

# 依照Status欄位並且以降冪方式排序
df.sort_values('Status', ascending=False)

# 依照State與CustomerCount排序，並呈現前10筆資料
df.sort_values(by=['State', 'CustomerCount']).head(10)

    State  Status  CustomerCount StatusDate
488    FL       1             30 2010-05-10
271    FL       1             32 2010-03-15
332    FL       1             45 2011-05-16
818    FL       3             46 2012-09-03
587    FL       3             47 2012-04-02
467    FL       2             48 2009-12-14
727    FL       2             51 2010-12-06
730    FL       3             51 2010-12-27
278    FL       3             53 2010-05-03
494    FL       3             59 2010-06-21

- ### 增加與刪除欄位

我們可以使用下面的方法在一個dataframe中增加或減少欄位。

In [13]:
df = pd.DataFrame(data={'name':['Abby', 'Bob', 'Chris']})
df

    name
0   Abby
1    Bob
2  Chris

In [14]:
# 建立一個dataframe，裡面只有name這個欄位
df = pd.DataFrame(data={'name':['Abby', 'Bob', 'Chris']})

# 多建一個Age欄位並填入資料
df['Age'] = [20, 15, 28]

# 在建立一個欄位greater_than_18判斷是否年齡大於18歲
df['greater_than_18'] = df['Age'] > 18

# 將df印出看看結果是甚麼
df

    name  Age  greater_than_18
0   Abby   20             True
1    Bob   15            False
2  Chris   28             True

In [15]:
df.drop(columns='greater_than_18')

    name  Age
0   Abby   20
1    Bob   15
2  Chris   28

In [16]:
print(df.columns)

Index(['name', 'Age', 'greater_than_18'], dtype='object')

In [17]:
# 刪除df中的greater_than_18欄位，將會回傳刪掉此欄位的dataframe出來
df.drop(columns='greater_than_18')

# 若沒有把上面的結果存下來，df這個dataframe仍然會有兩個欄位
print(df.columns)

# 如果我們想要在刪除欄位後不回傳任何東西，而是直接將結果存入原本的變數中，可以使用inplace這個參數
df.drop(columns='greater_than_18', inplace=True)

# 看看設定inplace=True後資料是不是就少了這個欄位了
print(df.columns)

Index(['name', 'Age', 'greater_than_18'], dtype='object')
Index(['name', 'Age'], dtype='object')